%h1
  Prohibited
%p
  Users must comply with all applicable laws, the GS terms of use, and all posted site rules.
%p
  Here is a partial list of goods, services, and content prohibited on Garage Sale:
%ul
  %li
    weapons; firearms/guns and components; BB/pellet, stun, and spear guns; etc
  %li
    ammunition, clips, cartridges, reloading materials, gunpowder, fireworks, explosives
  %li
    recalled items; hazardous materials; body parts/fluids; unsanitized bedding/clothing
  %li
    prescription drugs, medical devices; controlled substances and related items
  %li
    alcohol or tobacco; unpackaged or adulterated food or cosmetics
  %li
    child pornography; bestiality; offers or solicitation of illegal prostitution
  %li
    pet sales (re-homing with small adoption fee ok), animal parts, stud service
  %li
    endangered, imperiled and/or protected species and any parts thereof, e.g. ivory
  %li
    false, misleading, deceptive, or fraudulent content; bait and switch; keyword spam
  %li
    offensive, obscene, defamatory, threatening, or malicious postings or email
  %li
    anyone’s personal, identifying, confidential or proprietary information
  %li
    food stamps, WIC vouchers, SNAP or WIC goods, governmental assistance
  %li
    stolen property, property with serial number removed/altered, burglary tools, etc
  %li
    ID cards, licenses, police insignia, government documents, birth certificates, etc
  %li
    US military items not demilitarized in accord with Defense Department policy
  %li
    counterfeit, replica, or pirated items; tickets or gift cards that restrict transfer
  %li
    lottery or raffle tickets, sweepstakes entries, slot machines, gambling items
  %li
    spam; miscategorized, overposted, cross-posted, or nonlocal content
  %li
    postings or email the primary purpose of which is to drive traffic to a website
  %li
    postings or email offering, promoting, or linking to unsolicited products or services
  %li
    affiliate marketing; network, or multi-level marketing; pyramid schemes
  %li
    any good, service, or content that violates the law or legal rights of others

%p
  Please don't use GS for these purposes, and flag anyone else you see doing so.

%p
  Thanks for helping keep Garage Sale safe and useful for everyone.
