.container
  .row
    .col-md-4
      %h2.text-center FAQ
      %ul
        %li
          %h3
            Question
          %p
          Answer
        %li
          %h3
            Question
          %p
          Answer
        %li
          %h3
            Question
          %p
          Answer
    .col-md-4
      %h2.text-center Make Better Sales
      %ul
        %li
          %h3
            Take better photos
          %p
          Tip
        %li
          %h3
            Write better description
          %p
          Tip
        %li
          %h3
            Pick the right price
          %p
          Tip
    .col-md-4
      %h2.text-center Safety
      %p
        The overwhelming majority of Garage Sale users are trustworthy and well-meaning.
      %p
        With billions of human interactions, the incidence of violent crime related to Garage Sale is extremely low.

      %p
        Millions of violent crimes occur in the U.S. each year: 10,000+ homicides, 600,000+ robberies, 5 million assaults.

      %p
        Vanishingly few of these are Garage-Sale-related.

      %p
        Nevertheless, please take the same common sense precautions online as you would offline.
      %p
        When meeting someone for the first time, please remember to:
      %ul
        %li
          Insist on a public meeting place like a cafe, bank, or shopping center.
        %li
          Do not meet in a secluded place, or invite strangers into your home.
        %li
          Be especially careful buying/selling high value items.
        %li
          Tell a friend or family member where you're going.
        %li
          Take your cell phone along if you have one.
        %li
          Consider having a friend accompany you.
        %li
          Trust your instincts.
        %li
          Taking these simple precautions helps make Garage Sale safer for everyone.

      %p
        For more information about personal safety online, check out these resources:
        %ul
          %li
            http://www.staysafeonline.org/
          %li
            http://www.onguardonline.gov/
          %li
            http://getsafeonline.org
          %li
            http://wiredsafety.org

        Please review our avoiding scams page as well.
