#items.transitions-enabled
  - @items.each do |item|
    .box.panel.panel-info
      .panel-heading
        %h2= item.title
      = link_to (image_tag item.image.url), item
      .panel-body
        %p.description= item.desc
      .btn.btn-sm.btn-block#price-button
        = link_to number_to_currency(item.price), item
